@import "tailwindcss";


body{
  overflow-x: hidden !important;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Open Sans", sans-serif;
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translate(2%,65%);
  }
  50% {
    transform: translate(2%, 70%);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 0.7s infinite;
}

@keyframes pulseblue {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(30, 64, 175, 0.6); /* blu */
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(30, 64, 175, 0);
  }
}

.pulse-hover:hover {
  animation: pulseblue 1.7s infinite;
  background-color: #023a51 !important; /* blu në hover */
}

@keyframes fade-in-up-smooth {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.95);
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeInLeft {
  animation: fadeInLeft 0.8s ease-out both;
}

.animate-fadeInRight {
  animation: fadeInRight 0.8s ease-out both;
}
.card-container {
  position: relative;
  width: 100%;
  height: 120px;
  border-radius: 10px;
  overflow: hidden;
}
.animated-border {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(360deg, #669933, #669933);
  transform: translate(-50%, -50%) rotate(0deg);
  animation: rotBGimg 6s linear infinite;
  will-change: transform;
  z-index: 0;
  border-radius: 50%;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5px;
  border-radius: 8px;
  background: #07182E;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 20px;
  gap: 10px;
}

.card-content h2 {
  color: white;
  font-size: 2em;
  text-align: center;
}

/* Rotating animation */
@keyframes rotBGimg {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* From Uiverse.io by dzoshi */ 
.card2 {
  position: relative;
  width: 190px;
  height: 254px;
  background: linear-gradient(-45deg, #161616 0%, #000000 100%);
  color: #81818144;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 14px;
  gap: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.card2::before {
  content: "";
  position: absolute;
  inset: 0;
  left: 0;
  margin: auto;
  width: 190px;
  height: 260px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #ff0000 0%, #d80000 40%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.8s cubic-bezier(0.175, 0.95, 0.9, 1.275);
  box-shadow: 0px 20px 30px hsla(0, 0%, 100%, 0.979);
}

.card2::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  width: 165px;
  height: 245px;
  background: linear-gradient(-45deg, #fc0000 0%, #f00000 100%);
  transform: translate3d(0, 0, 0) scale(0.45);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 900;
}

.card2 p:not(.heading) {
  font-size: 18px;
}

.card2 p:last-child {
  color: #fa0000;
  font-weight: 900;
}

.card2:hover::after {
  transition: all 0.2s cubic-bezier(0.175, 0.285, 0.82, 1.275);
}

.card2:hover::before {
  transform: scaleX(1.02) scaleY(1.02);
  box-shadow: 0px 0px 30px 0px hsla(0, 100%, 50%, 0.356);
}
@keyframes bounce-slow {
  0%, 100% {
    transform: translate(200%,58%);
  }
  50% {
    transform: translate(195%, 62%);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 0.7s infinite;
}



/* From Uiverse.io by bhaveshxrawat */ 
.card {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  
}

.card h2 {
  z-index: 1;
  font-size: 1em;
  color:rgb(24, 24, 24);
  @media(max-width:768px){
    font-size: 1em;
  }
}

.card h2 span{
  z-index: 1;
  font-size: 0.8em;
  color:#15222B;
}


.card::before {
  content: '';
  position: absolute;
  width: 1000px;
  background-image: linear-gradient(180deg, rgb(102, 153, 51), rgb(102, 153, 51));
    /* background-image: linear-gradient(180deg, rgb(21, 34, 43), rgb(21, 34, 43)); */
  height: 180%;
  animation: rotBGimg 7s linear infinite;
  transition: all 2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: rgb(241, 240, 240);
  inset: 3px;
  border-radius: 20px;
}  


@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-right {
  animation: slide-right 7s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

.animate-slide-left {
  animation: slide-left 7s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}


