@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Open Sans", sans-serif;
}


@keyframes pulseblue {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(30, 64, 175, 0.6); /* blu */
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(30, 64, 175, 0);
  }
}

.pulse-hover:hover {
  animation: pulseblue 1.7s infinite;
  background-color: #023a51 !important; /* blu në hover */
}

@keyframes fade-in-up-smooth {
  0% {
    opacity: 0;
    transform: translateY(50px) scale(0.95);
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeInLeft {
  animation: fadeInLeft 0.8s ease-out both;
}

.animate-fadeInRight {
  animation: fadeInRight 0.8s ease-out both;
}
.card-container {
  position: relative;
  width: 100%;
  height: 120px;
  border-radius: 10px;
  overflow: hidden;
}
.animated-border {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(360deg, #669933, #669933);
  transform: translate(-50%, -50%) rotate(0deg);
  animation: rotBGimg 6s linear infinite;
  will-change: transform;
  z-index: 0;
  border-radius: 50%;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5px;
  border-radius: 8px;
  background: #07182E;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.card-content h2 {
  color: white;
  font-size: 2em;
  text-align: center;
}

/* Rotating animation */
@keyframes rotBGimg {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
